body{
    background-color: #505050;
}
h4{
    color: #505050;
    font-family: "Rubik";
    text-align: center;
    letter-spacing: 0.05em;    
}
h1{
    color: #505050;
    text-shadow: whitesmoke;
    font-family: "Trirong";
    text-align: center;
}
#wrapper{
    width: 95vw;
    height: 50%;
    background-color: whitesmoke;
}
#title{
    width: 30vw;
    float: left;
    background-color: whitesmoke;
    border: 2.5px;
    border-style: solid;
    border-color: #74C476;
    margin-left: 20px;
    margin-top: 10px;
}
#military{
    width: 55vw;
    float: right;
    /* background-color: whitesmoke;
    border: 2.5px;
    border-style: solid;
    border-color: #74C476; */
    justify-content: space-evenly;
    display: flex;
    margin-top: 10px;
}
#join{
    width: 55vw;
    float: right;
    height: 25%;
    display: flex;
    justify-content: center;
    color: black;
    font-family: "Rubik";
    font-weight: bold;
}
.states{
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}
.map{
    border: none;
    margin: 10px 0 0 20px;
}
.addStates{
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}
.chart {
    float: right;
    margin: 7px 40px 0 0;
    background-color: none;
    border: none;
}
.chartTitle {
    font-family: "Rubik";
    font-size: 1em;
    font-weight: bold;
}
.chartBackground {
    fill: none;
}
.chartFrame {
    fill: none;
    stroke: none;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: "Rubik";
    font-size: 0.90em;
    fill: #000;
}
.dropdown {
    position: absolute;
    top: 185px;
    left: 120px;
    z-index: 10;
    font-family: "Rubik";
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}
option {
    font-weight: normal;
}
.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: whitesmoke;
    background-color: slategray;
    border: solid thin black;
    padding: 5px 10px;
    top: -75px;
    font-family: "Rubik";
}
.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-family: "Rubik";
}
.resize{
    height: 100px;
}